<a href="https://colab.research.google.com/github/arjunsshah/Portfolio-Optimization/blob/main/OptVsNaive.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Optimal Versus Naive Diversification: How Inefficient is the 1/N Portfolio Strategy?

##A python model for portfolio optimization

###By Arjun Shah

In this notebook, I've analyzed and coded each of the 14 portfolio optimization models described in the paper **Optimal Versus Naive Diversification: How Inefficient is the 1/N Portfolio Strategy?** (DeMiguel 2007). The purpose of this is to visually show how different portfolio optimization strategies compare to the classic 1/N strategy: diversify your money evenly amongst N investment possibilities.

The dataset used in this notebook is the list of ten sector portfolios found on Ken French's Website : https://mba.tuck.dartmouth.edu/pages/faculty/ken.french/data_library.html#BookEquity

(missing values are -99.99 or -999

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving 10_Industry_Portfolios_Wout_Div1.csv to 10_Industry_Portfolios_Wout_Div1 (1).csv

In [ ]:
import io
df = pd.read_csv('10_Industry_Portfolios_Wout_Div1.csv', sep=',')

In [ ]:
df = df.drop(0, axis=0)

In [ ]:
df = df.rename(columns=df.iloc[1])

In [ ]:
df = df.drop(labels=[9,10], axis=0)

In [ ]:
df = df.drop(labels=[4995,4996], axis=0)

In [ ]:
df

         NaN  NoDur  Durbl  Manuf  Enrgy  ...  Telcm  Shops Hlth   Utils  Other
11    192607   1.31  15.07   4.39   -1.3  ...   0.83  -0.13  1.11   6.89   1.84
12    192608    3.7   3.09   2.46   3.13  ...   2.17  -0.95  3.59  -2.07   3.97
13    192609   0.43   4.48   0.56  -3.86  ...   0.89   0.02  0.52   1.65  -0.15
14    192610  -1.47  -8.47  -3.92   -0.9  ...  -0.11  -2.54  -1.2  -2.88  -3.11
15    192611   4.92  -2.37   3.71  -0.62  ...   1.63    5.9  4.78   3.31   1.66
...      ...    ...    ...    ...    ...  ...    ...    ...   ...    ...    ...
4990    2017   0.24    0.4   0.25   0.49  ...   0.35   0.21  0.23   0.53   0.51
4991    2018   0.25   0.38   0.25   0.53  ...   0.39   0.18   0.2   0.53   0.44
4992    2019   0.29   0.52   0.28    0.7  ...   0.52   0.18  0.21   0.55   0.53
4993    2020   0.27   0.28   0.22   1.57  ...   0.42   0.16  0.19   0.47   0.42
4994    2021   0.26    0.2   0.23   0.85  ...   0.41   0.16  0.17   0.52   0.49

[4984 rows x 11 columns]

In [ ]:
#The benchmark strategy is the equal allocation model (naive model)
def benchmarkStrat(N):
  return 1/N